$gold: #e8b021;
$lightNavy: #66788d;
$sand: #dbcca5;
$darkNavy: #2e3c49;
$green: #4f5957;

.unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh;
  scroll-behavior: smooth;

  a {
    margin: 1vh;
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-assets {
      width: 90%;
      display: flex;
      flex-direction: column;

      &-title {
        text-align: left;
        font-weight: 700;
        margin-top: 2vh;
      }
    }
    &-video {
      width: 90%;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      iframe {
        position: absolute;
        border: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
    h5 {
      text-align: center;
      margin: 1vh;
    }
  }

  .loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-lesson-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 2vh;
      border-top: 2px solid rgba(46, 60, 73, 0.4);
      text-align: center;

      h4.mobile-title {
        display: none;
      }
      button.mobile-play-button {
        display: none;
      }
      button.play-button {
        background: $lightNavy;
        border: none;
        border-radius: 25px;
        padding: 1vh;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition-property: transform;
        transition: ease 0.2s;
        transform: translate(0px, 0px);
        &:hover {
          transition: ease 0.2s;
          transform: translate(0px, -5px);
        }
      }

      h3 {
        width: 20%;
        span {
          font-size: 0.7em;
          display: block;
        }
      }

      &-worksheets {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        button {
          margin: 2vh;
          text-decoration: none;
          background: $lightNavy;
          color: white;
          padding: 5px 10px 5px 10px;
          border-radius: 15px;
          border: 0;
          transition: background 0.2s;
          &:hover {
            background: $darkNavy;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    .active {
      background: $sand;
    }
  }
}
@media screen and (max-width: 800px) {
  .unit {
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
    &-description {
      width: 90%;
      &-title {
        text-align: center;
        font-weight: 700;
      }
    }
    &-lesson-list {
      width: 100%;
      align-items: center;
      text-align: center;
      &-item {
        flex-direction: row;

        h3.desktop-title {
          display: none;
        }
        button.play-button {
          display: none;
        }
        button.mobile-play-button {
          display: block;
          width: 100%;
          background: $lightNavy;
          border: none;
          border-radius: 25px;
          padding: 1vh;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transition-property: transform;
          transition: ease 0.2s;
          transform: translate(0px, 0px);
          color: white;
          &:hover {
            transition: ease 0.2s;
            transform: translate(0px, -5px);
          }
        }
        h5 {
          display: none;
        }
        flex-direction: row;
        &-worksheets {
          display: block;
          button {
            margin: 1vh;
          }
        }
      }
    }
  }
}
