.units {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .resource-sign-up {
    background: lightgrey;
    border-radius: 25px;
    display: flex;
    margin: 3vh 0 0 0;
    justify-content: space-evenly;
    align-items: center;
    p {
      width: 60%;
      padding: 3vh 0 2vh 0;
    }
  }

  &-desc {
    margin: 5vh;
    width: 75%;
    h1 {
      text-align: center;
    }
  }

  .unit-link {
    width: 30%;
    height: auto;
    text-align: center;
    color: black;
    :hover {
      text-decoration: none;
    }
  }
  .unit-icon {
    text-align: center;
    margin: 2vh;
    border-radius: 10px;
  }
  @media screen and (max-width: 800px) {
    .unit-link {
      width: 50%;
    }
    .resource-sign-up {
      background: lightgrey;
      border-radius: 25px;
      display: flex;
      flex-direction: column;

      align-items: center;
      p {
        width: 90%;
        text-align: center;
      }
    }
  }
}
