$gold: #e8b021;
$lightNavy: #66788d;
$sand: #dbcca5;
$darkNavy: #2e3c49;
$green: #4f5957;

.childrens-ministry {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/childrens_ministry/Intersect.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo {
      width: 40%;
      height: auto;
      padding: 20px;
      margin: 3vh;
    }
  }

  &-mission {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    margin: 3vh 0 10vh 0;

    &-paragraph {
      margin: 0 5vh 0 0;
      width: 60%;
    }
  }

  &-safety {
    width: 70%;
    background: $sand;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    img {
      width: 10%;
      margin: 5px;
    }

    p {
      width: 80%;
      margin: 20px;
    }
  }
  &-check-in {
    width: 70%;
    margin: 20px;
  }

  &-materials {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh;
    margin: 0 0 5vh 0;
    h2 {
      color: $gold;
    }

    .button-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        font-weight: 800;
        font-family: "Work Sans", sans-serif;
      }
    }

    img {
      border-radius: 10px;
    }
  }
  &-sign-up {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0 20vh 0;
    h4 {
      text-align: center;
      margin-bottom: 2vh;
      color: $green;
    }
  }
}
@media screen and (max-width: 800px) {
  .childrens-ministry {
    background-size: cover;
    &-header {
      &-logo {
        width: 80%;
      }
    }

    &-mission {
      width: 100%;
      flex-direction: column;
      p {
        width: 100%;
        margin: 0 0 5vh 0;
      }
    }
    &-safety {
      flex-direction: column;
      align-items: center;
      img {
        width: 20%;
      }
      p {
        width: 95%;
      }
    }
    &-check-in {
      width: 90%;
      margin: 5vh 5vh 10vh 5vh;
    }
    &-materials {
      width: 100%;
      flex-direction: column;
      padding: 0;
      text-align: center;

      img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 0;
      }
      p {
        width: 90%;
      }
      .button-container {
        align-items: center;
        margin: 0 0 3vh 0;
      }
    }
    &-sign-up {
      width: 100%;
      flex-direction: column;
      margin: 0 0 10vh 0;
      h4 {
        width: 98%;
      }
    }
  }
}
