$darkNavy: #2e3c49;
$green: #4f5957;
$gold: #e8b021;
.about-menu {
  margin: 5vh;
  border-bottom: 1px solid $darkNavy;
  a {
    color: $darkNavy;
    text-align: center;
    margin: 2vh;
    padding: 3px;
  }
  a:hover {
    color: $green;
  }
  .active {
    border: 2px solid $gold;
    border-radius: 5px;

    color: $gold;
  }
  @media screen and (max-width: 600px) {
    display: flex;
    a {
      margin: 2vh 0 0 0;
      flex-basis: 50%;
    }
  }
}
