$gold: #e8b021;
$lightNavy: #66788d;
$sand: #dbcca5;
$darkNavy: #2e3c49;
$green: #4f5957;
$bone: #eae9e8;

.page-container {
  z-index: 100;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Volkhov", sans-serif;
}

p {
  font-size: 1.25em;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.4em;
}
