.attend {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-weight: 900;
    text-align: center;
    color: #2e3c49;
  }
  #highlight {
    color: goldenrod;
  }
  &-desc {
    width: 70%;
    margin: 5vh;
    ul {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      list-style-type: none;
      margin: 3vh;
      li {
        width: 30%;
        text-align: center;

        p {
          margin: 0;
        }
      }
    }
    p {
      margin: 5vh 0 5vh 0;
    }
    &-childrens {
      background: lightblue;
      display: flex;
      padding: 20px;
      border-radius: 10px;
      img {
        width: 10%;
        margin: 5px;
      }

      p {
        width: 80%;
        margin: 20px;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .attend-desc {
    width: 90%;
    ul {
      flex-direction: column;
      li {
        width: 100%;
      }
    }
    &-childrens {
      flex-direction: column;
      align-items: center;
      img {
        width: 20%;
      }
      p {
        width: 95%;
      }
    }
  }
}
