.attend {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-weight: 900;
    text-align: center;
    color: #2e3c49;
  }
  #highlight {
    color: goldenrod;
  }
  &-desc {
    width: 70%;
    margin: 5vh;
    ul {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      list-style-type: none;
      li {
        width: 30%;
        text-align: center;

        p {
          margin: 0;
        }
      }
    }
    p {
      margin: 5vh 0 5vh 0;
    }
  }
}
@media screen and (max-width: 800px) {
  .attend-desc {
    width: 90%;
    ul {
      flex-direction: column;
      li {
        width: 100%;
      }
    }
  }
}
