$darkNavy: #2e3c49;
$lightNavy: #66788d;
$green: #4f5957;

.beliefs-values {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 75%;

    h2 {
      color: $darkNavy;
    }
    h3 {
      color: $lightNavy;
    }
    p {
      width: 60%;
    }
  }
  .scripture {
    font-weight: 400;
    text-decoration: none;
    color: $green;
  }
  .learn-more-link {
    display: block;
    margin: 2vh 0 3vh 0;
  }
  @media screen and (max-width: 600px) {
    .beliefs-values {
      &-text {
        width: 90%;
        p {
          width: 100%;
        }
      }
    }
  }
}
