$darkNavy: #2e3c49;
$lightNavy: #66788d;

.button {
  text-decoration: none;
  background: $lightNavy;
  color: white;
  border-radius: 5px;
  border: 0;
  transition: background 0.2s;
  margin: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  &:hover {
    background: $darkNavy;
    text-decoration: none;
    color: white;
  }
  &.sm {
    padding: 5px 10px 5px 10px;
  }
  &.md {
    padding: 10px 20px 10px 20px;
  }
  &.lg {
    padding: 15px 30px 15px 30px;
  }
}
