$gold: #e8b021;
$lightNavy: #66788d;
$sand: #dbcca5;
$darkNavy: #2e3c49;
$green: #4f5957;

.unit {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 3vh;
  &-description {
    width: 50%;
    display: flex;
    flex-direction: column;

    &-title {
      text-align: left;
      font-weight: 700;
    }
  }
  .loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    iframe {
      position: absolute;
      border: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  &-lesson-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 2vh;
      border-top: 2px solid rgba(46, 60, 73, 0.4);
      text-align: center;

      h3 {
        span {
          font-size: 0.7em;
          display: block;
        }
      }

      &-worksheets {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        button {
          margin: 2vh;
          text-decoration: none;
          background: $lightNavy;
          color: white;
          padding: 5px 10px 5px 10px;
          border-radius: 15px;
          border: 0;
          transition: background 0.2s;
          &:hover {
            background: $darkNavy;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .unit {
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
    &-description {
      width: 90%;
      &-title {
        text-align: center;
        font-weight: 700;
      }
    }
    &-lesson-list {
      width: 90%;
      align-items: center;
      text-align: center;
    }
  }
}
