.childrens-ministry {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo {
      width: 40%;
      height: auto;
      padding: 20px;
      margin: 3vh;
    }
    &-photo-collage {
      max-width: 70%;
      img {
        width: 50%;
        padding: 10px;
      }
    }
  }
  &-mission {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    margin-top: 3vh;
    background: #2e3c49;

    p {
      color: white;
      width: 60%;
    }
  }
  &-check-in {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh;

    img {
      width: 50%;
      border-radius: 20px;
    }
    p {
      width: 40%;
    }
  }

  @media screen and (max-width: 800px) {
    .childrens-header {
      width: 100%;
      flex-direction: column;

      #childrens-logo {
        width: 80%;
        height: auto;
        padding: 20px;
      }
      .photo-collage {
        max-width: 90%;
        img {
          width: 50%;
          padding: 5px;
        }
      }
    }
    .mission-container {
      width: 100%;
      flex-direction: column-reverse;
      p {
        width: 90%;
      }
    }
    .check-in-section {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
      .info-button-container {
        width: 90%;
      }
    }
  }
}
