$gold: #e8b021;
$lightNavy: #66788d;
$sand: #dbcca5;
$darkNavy: #2e3c49;
$green: #4f5957;

.childrens-ministry {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo {
      width: 40%;
      height: auto;
      padding: 20px;
      margin: 3vh;
    }
    &-photo-collage {
      max-width: 70%;
      img {
        width: 50%;
        padding: 10px;
      }
    }
  }

  &-mission {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    margin-top: 3vh;
    background: #2e3c49;

    p {
      color: white;
      width: 60%;
    }
  }
  &-material-sign-up {
    display: flex;
    margin: 5vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: $sand;
    border-radius: 25px;
    padding: 2vh;
    .button {
      margin: 2vh;
      text-decoration: none;
      background: $lightNavy;
      color: white;
      padding: 5px 10px 5px 10px;
      border-radius: 15px;
      border: 0;
      transition: background 0.2s;
      &:hover {
        background: $darkNavy;
        text-decoration: none;
        color: white;
      }
    }
    p {
      width: 70%;
    }
  }
  &-check-in {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh;

    img {
      width: 50%;
      border-radius: 20px;
    }
    p {
      width: 40%;
    }
  }
}
@media screen and (max-width: 800px) {
  .childrens-ministry {
    &-header {
      &-logo {
        width: 80%;
        height: auto;
        padding: 20px;
      }
      &-photo-collage {
        max-width: 90%;
        img {
          width: 50%;
          padding: 5px;
        }
      }
    }
    &-material-sign-up {
      flex-direction: column;
      p {
        width: 100%;
      }
    }
    &-mission {
      width: 100%;
      flex-direction: column-reverse;
      p {
        width: 90%;
      }
    }
    &-check-in {
      width: 100%;
      flex-direction: column;
      padding: 0;
      img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 0;
      }
      p {
        width: 90%;
      }
    }
  }
}
