$vbvf-blue: #122149;
.connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #connect-header {
    width: 100%;
    padding: 30vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 1)
      ),
      url(../images/connect/banner.jpg);
    background-size: cover;
  }
  h1 {
    font-size: 5em;
    color: $vbvf-blue;
    text-align: center;
    margin-bottom: 10vh;
  }
  .first-row {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10vh 0 5vh 0;
    .connection-meeting {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        width: 90%;
        font-size: 1.2em;
      }
    }
    img {
      max-width: 40%;
    }
  }
  .church-center-row {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    div {
      width: 40%;
    }
    img {
      width: 50%;
    }
  }
}
@media screen and (max-width: 800px) {
  .connect-container {
    flex-direction: column;

    #connect-header {
      padding: 10vh;
      margin-bottom: 5vh;
      background-size: cover;
      background-repeat: no-repeat;
    }
    h1 {
      font-size: 3em;
    }
    .first-row {
      flex-direction: column-reverse;
      margin: 0 0 3vh 0;
      p {
        max-width: 90%;
        font-size: 1em;
      }
      img {
        display: none;
      }
      h2 {
        display: none;
      }
    }
    .church-center-row {
      width: 80%;
      display: flex;
      flex-direction: column-reverse;
      margin: 5vh;
      align-items: center;
      div {
        width: 95%;
      }
    }
  }
}
