$gold: #e8b021;
$lightNavy: #66788d;
$sand: #dbcca5;
$darkNavy: #2e3c49;
$green: #4f5957;
.contact {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-text-field {
    width: 30%;
    margin: 1vh;
    border: 1px solid $darkNavy;
    border-radius: 5px;
  }

  &-checkbox-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    label {
      margin: 1vh;
      input {
        margin: 5px;
      }
    }
  }
  &-error-message {
    color: $gold;
    display: block;
    margin: -5px 0 2vh 0;
  }

  button {
    margin: 2vh;
    text-decoration: none;
    background: $lightNavy;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 1.2em;
    border: 0;
    transition: background 0.2s;
    &:hover {
      background: $darkNavy;
      text-decoration: none;
      color: white;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0 0 0;
    .highlight {
      color: $gold;
    }
    &-block-group {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin: 1vh 0 0 0;
    }
    &-block {
      width: 33%;
      margin: 5px;
      text-align: center;
    }
  }
  &-submitted {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-check-container {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 150px;
      width: 150px;
      margin: 3vh auto 3vh auto;
      background: $green;
      place-content: center;
      border-radius: 30px;
      &-item {
        width: 56%;
        overflow: visible;
        stroke: #fff;
        stroke-width: 2;
        stroke-linejoin: round;
        stroke-linecap: round;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .contact {
    h3 {
      font-size: 1.2em;
    }
    &-text-field {
      width: 80%;
    }

    &-text-area {
      width: 80%;
    }
    &-info {
      text-align: center;
      width: 80%;

      &-block-group {
        flex-direction: column;
        align-items: center;
        margin: 30px 0 0 0;
      }
      &-block {
        width: 60%;
        margin: 5px;
        text-align: center;
      }
    }
  }
}
