.corona {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-weight: 900;
    text-align: center;
    color: #2e3c49;
  }
  #highlight {
    color: goldenrod;
  }
  &-desc {
    width: 70%;
    margin: 5vh;
    ul {
      list-style-type: none;
      li {
        margin: 3vh 0 0 0;
        p {
          margin: 0;
        }
      }
    }
    p {
      margin: 5vh 0 5vh 0;
    }
  }
}
@media screen and (max-width: 800px) {
  .corona-desc {
    width: 90%;
  }
}
