.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-questions {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1,
    h4 {
      text-align: center;
    }
    p {
      width: 50%;
    }
  }
}
