.footer-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px black solid;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.footer-container a {
  color: black;
  text-decoration: none;
}
.icon-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.disclosure-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
.copyright {
  color: black;
  font-size: 0.75em;
}
img {
  margin: 10px;
  height: 40px;
  width: auto;
}
ul {
  list-style: none;
}
