.menu-bar a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 10px;
  color: black;
  font-size: 1.25em;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: bold;
}

.menu-bar img {
  height: 100px;
  width: auto;
}
.menu-bar ul {
  list-style: none;
  padding-right: 30px;
}

.menu-bar li {
  margin: 5px;
  text-align: center;
}

.menu-links {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.sub-menu {
  font-size: 1em;
}
