.menu-bar {
  a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: 1.25em;
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: bold;
  }
  img {
    height: 5vh;
    width: auto;
  }
  ul {
    list-style: none;
    padding-right: 30px;
  }
}

.sub-menu {
  font-size: 1em;
}

.service-time-modal {
  text-align: center;
}
