$gold: #e8b021;
$lightNavy: #66788d;
$sand: #dbcca5;
$darkNavy: #2e3c49;
$green: #4f5957;
$bone: #eae9e8;

body {
  overflow-x: hidden;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-header {
    width: 100%;
    background: url(../images/home_page/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    &-titles {
      display: flex;
      flex-direction: column;
      text-align: center;
      color: $bone;

      margin-top: 30vh;
      h1 {
        color: $bone;
        font-size: 5rem;
        font-weight: bold;
      }
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 3vh;
      text-decoration: underline;
      a {
        color: $bone;
      }
    }
  }

  .preview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0 20px 0;
  }

  .childrens-content {
    background-image: url(../images/childrens_ministry/Intersect.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    h3 {
      text-align: center;
      font-family: "Work Sans", sans-serif;
    }
    &-preview {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  #celebration-of-life {
    // -webkit-clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
    // clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);

    color: $darkNavy;
    margin: auto 0 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    // background: url(../images/home_page/Celebration_of_Life_comp.jpg);

    background-size: cover;
    div {
      display: flex;
      flex-direction: column;
      place-items: center;
    }
    h3 {
      text-align: center;
    }
    span {
      font-family: "Volkhov", sans-serif;
      font-size: 1em;
    }
  }

  .series-promo {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    &-desc {
      display: flex;
      color: white;
      flex-direction: column;
      align-items: center;
      width: 60%;
      margin: 5vh;
      h2,
      h3 {
        text-align: center;
      }
    }
    img {
      justify-self: flex-end;
      width: 70%;
    }
  }
}
@media screen and (max-width: 800px) {
  .home {
    .main-header {
      display: flex;
      flex-direction: column;
      background-position: 30% 15%;
      background-size: cover;
      align-items: center;
      max-height: 50vh;

      &-titles {
        width: 100%;
        margin: 23vh 0 20vh 0;
        max-width: 100%;
        color: #eae9e8;
      }
      h1 {
        font-size: 3rem;
        color: #eae9e8;
      }
      &-buttons {
        display: flex;
        flex-direction: column;
        a {
          color: #eae9e8;
        }
      }
    }

    .preview-container {
      flex-direction: column;
      align-items: center;
    }

    .childrens-content {
      &-preview {
        flex-direction: column;
        align-items: center;
      }
    }

    #celebration-of-life {
      flex-direction: column;
      place-items: center;
    }

    #preaching-word-image {
      width: 95%;
    }
    #connection-meeting {
      flex-direction: column-reverse;
    }
    #samuel-series {
      flex-direction: column;
      img {
        -webkit-mask-image: linear-gradient(to top, transparent 0, black 75%);
        mask-image: linear-gradient(to top, transparent 0, black 75%);
      }
    }

    .series-promo {
      display: flex;
      flex-flow: column-reverse;
      align-items: center;
      padding-bottom: 2vh;
      &-desc {
        width: 90%;
      }
      img {
        width: 90%;
      }
    }
  }
}
