$darkNavy: #2e3c49;
$green: #4f5957;
$gold: #e8b021;

body {
  overflow-x: hidden;
}

.main-header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/home_page/don_overlay.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  &-titles {
    max-width: 50%;
    text-align: center;
    justify-self: flex-start;
    padding: 150px 0px 100px 0px;
    h1 {
      color: white;
      font-size: 6rem;
      font-weight: bold;
    }
  }
  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
  }
}

.see-more-arrow {
  border: solid white;
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 5px;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: float;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes float {
  from {
    bottom: 0;
  }
  to {
    bottom: 10px;
  }
}

.preview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  margin: 20px 0 20px 0;
}

#samuel-series {
  background-color: black;
}

#phillippians-series {
  background-image: url(../images/home_page/phillippians_background.jpg);
  background-size: cover;
}

.series-promo {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  &-desc {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 5vh;
    h2,
    h3 {
      text-align: center;
    }
  }
  img {
    justify-self: flex-end;
    width: 70%;
  }
}

@media (max-width: 800px) {
  .main-header {
    display: flex;
    max-height: 50vh;
    background-image: url(../images/home_page/overlay.jpg);
    background-position: 35% 0%;

    &-titles {
      max-width: 90%;
      text-align: center;
    }
    h1 {
      font-size: 3rem;
    }
    &-buttons {
      display: flex;
      flex-direction: column;
    }
  }

  .preview-container {
    flex-direction: column;
    align-items: center;
  }
  #preaching-word-image {
    width: 95%;
  }
  #connection-meeting {
    flex-direction: column-reverse;
  }
  #samuel-series {
    flex-direction: column;
    img {
      -webkit-mask-image: linear-gradient(to top, transparent 0, black 75%);
      mask-image: linear-gradient(to top, transparent 0, black 75%);
    }
  }

  .series-promo {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    padding-bottom: 2vh;
    &-desc {
      width: 90%;
    }
    img {
      width: 90%;
    }
  }
}
