body {
  overflow-x: hidden;
}

.main-header {
  position: relative;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/hand_raised_compressed.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  &-titles {
    max-width: 50%;
    text-align: center;
    justify-self: flex-start;
    padding: 150px 0px 100px 0px;
    h1 {
      color: white;
      font-size: 6rem;
      font-weight: bold;
    }
  }
  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
  }
}

.see-more-arrow {
  border: solid white;
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 5px;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.secondary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin: 3vh;
  &-block {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    &-words {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      margin: 2vh;

      h2 {
        text-align: center;
      }
    }
    img {
      width: 35%;
      margin: 2rem;
    }
  }
}

#samuel-series {
  background: linear-gradient(to left, transparent, 95%, #000000),
    url(../images/home_page/2_Samuel_resized.jpg);
  background-color: black;
  background-size: contain;
  background-position: top left 60px;
  justify-content: flex-end;
  background-repeat: no-repeat;
  img {
    padding: 5vh 0 5vh 0;
    height: 50vh;
  }
  p {
    margin: 5vh 10vh 5vh 5vh;
  }
}

#matthew-series {
  background-image: url(../images/matthew_background.jpg);
  background-size: cover;
}

.series-promo {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

  justify-content: center;
  align-items: center;
  &-desc {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 5vh;
  }
  img {
    justify-self: flex-end;
    width: 40%;
    height: auto;
  }
}

@media (max-width: 800px) {
  .main-header {
    display: flex;
    max-height: 50vh;
    &-titles {
      max-width: 90%;
      text-align: center;
    }
    h1 {
      font-size: 3rem;
    }
    &-buttons {
      display: flex;
      flex-direction: column;
    }
  }

  .secondary-content {
    &-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-words {
        width: 90%;
      }
      img {
        width: 105%;
        margin: 0;
      }
    }
  }
  #preaching-word-image {
    width: 95%;
  }
  #connection-meeting {
    flex-direction: column-reverse;
  }
  .series-promo {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    padding-bottom: 2vh;
    &-desc {
      width: 90%;
    }
    img {
      width: 90%;
    }
  }
}
