.leader {
  width: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
  h4 {
    font-size: 1em;
  }
  &-name {
    font-size: 1.5em;
    white-space: nowrap;
  }
  &-photo {
    width: 100%;
    clip-path: circle(100px at center);
  }
}
