.lesson-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  background: rgba(236, 236, 236, 1);

  &-title {
    text-align: left;
    margin-left: 2vh;
    &-lesson {
      font-size: 1.4em;
    }

    &-verses {
      font-size: 1em;
      opacity: 0.7;
    }
  }
  &-icon {
    margin-left: auto;
    margin-right: 2vh;
    cursor: pointer;
    img {
      padding: 1px;
      height: 3vh;
    }
  }
  a {
    color: black;
    font-weight: 400;
    text-decoration: none;
  }
}

.lesson-block:nth-child(even) {
  background: rgba(240, 240, 241, 1);
}

.lesson-modal {
  display: flex;
  flex-direction: column;

  &-video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;

    iframe {
      position: absolute;
      border: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  &-button {
    align-self: center;
    margin: 2vh auto 0 auto;
    .doc-icon {
      fill: white;
      height: 3vh;
      margin: 1vh;
    }
  }
}
