$gold: #e8b021;
$lightNavy: #66788d;
$sand: #dbcca5;
$darkNavy: #2e3c49;
$green: #4f5957;

.livestream {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-archive {
    width: 85%;
    align-self: center;
    h3 {
      margin: 5vh 0 1vh 0;
    }
    &-video-player {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;

      iframe {
        position: absolute;
        border: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}
