.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 75px;
  color: white;
  margin: 20px;
}
.menu-bar a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 10px;
  color: #000000;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: bold;
}

.menu-bar img {
  height: 100%;
  width: auto;
}
.menu-bar ul {
  list-style: none;
  margin-right: 20px;
}

.menu-bar li {
  margin: 5px;
  text-align: center;
}

.menu-links {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
