.mission-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  //background-color: papayawhip;
  padding: 20px 0 20px 0;
}

.mission-block {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 10px 0;
  img {
    width: 60%;
  }
  p {
    text-align: center;
    color: black;
    width: 100%;
    strong {
      display: block;
    }
  }
}

@media screen and (max-width: 800px) {
  .mission-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mission-block {
    width: 100%;
    p {
      width: 80%;
    }
  }
}
