.our-story {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-text {
    width: 55%;
  }
}
@media screen and (max-width: 800px) {
  .our-story {
    &-text {
      width: 90%;
    }
  }
}
