$darkNavy: #2e3c49;
$green: #4f5957;
$gold: #e8b021;

.pastor-search {
  img {
    width: 100%;
  }
  .hidden {
    display: none;
  }

  &-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5vh;
  }
  &-menu {
    display: flex;
    min-width: 30%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: $green 2px solid;
    padding-right: 8px;
    box-sizing: border-box;
    ul {
      list-style: none;
      margin: 3vh;
      li {
        margin: 15px 0 15px 0;
        padding: 3px;
        font-size: 1.5em;
        font-weight: 600;
        font-family: "Open Sans";
        cursor: pointer;
      }
      .selected {
        color: $gold;
        border: 2px solid $gold;
        border-radius: 2px;
      }
    }
  }

  &-content {
    max-width: 50%;
    min-width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      align-self: center;
      text-align: center;
      margin: 3vh;
    }
    &-prayer {
      margin: 2vh;
      h4 {
        text-align: center;
        font-size: 1.5em;
      }
    }

    a {
      text-align: center;
    }
  }
}
@media screen and (max-width: 800px) {
  .pastor-search {
    &-container {
      flex-direction: column;
      align-items: center;
    }
    &-menu {
      width: 100%;
      border: none;
      font-size: 0.7em;
    }
    &-content {
      width: 90%;
      margin: 0;
      align-items: center;
      h1 {
        margin: 0 0 3vh 0;
      }
      ul {
        li {
          margin: 0;
        }
      }
    }
  }
}
