.redirect {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-desc {
    width: 75%;
    margin: 5vh;

    h1 {
      text-align: center;
    }
  }

  &-buttons {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
  }
  &-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #arrow {
      width: 10%;
    }
    img {
      width: 25%;
      padding: 2vh;
    }
  }
  @media screen and (max-width: 800px) {
    .redirect {
      &-desc {
        width: 90%;
      }
      &-buttons {
        width: 80%;
      }
      &-images {
        #arrow {
          width: 20%;
        }
        img {
          width: 40%;
        }
      }
    }
  }
}
