.small-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h1 {
      text-align: left;
    }
    img {
      width: 60%;
    }
  }
  &-info-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 10vh 0;
    p {
      width: 50%;
    }
  }

  &-faq {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5vh;
    div {
      width: 45%;
      margin: 3vh;
      h4 {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .small-group {
    &-info-sign-up {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 1.2em;
      align-items: center;
      margin: 0 0 5vh 0;
      p {
        width: 90%;
      }
    }
    &-faq {
      width: 100%;
      div {
        p {
          width: 90%;
        }
      }
    }
  }
}
