.small-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  &-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: center;

    &-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      img {
        width: 100%;
      }
    }
  }
  &-info-sign-up {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 5vh 0 15vh 0;

    img {
      width: 30%;
    }
    &-button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      padding: 2vh;
      p {
        width: 90%;
      }
    }
  }
  &-map-block {
    margin: 0 0 2vh 0;
  }
}

@media screen and (max-width: 800px) {
  .info-sign-up {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    align-items: center;
    margin: 5vh 0 5vh 0;
    img {
      width: 100%;
    }
    &-button-container {
      width: 100%;
      p {
        width: 90%;
        margin: 5vh 0 3vh 0;
      }
    }
  }
}
