$gold: #e8b021;
.staff-info-container {
  max-width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  .staff-card {
    max-width: 30%;
  }
  .staff-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    h2 {
      text-align: center;
      mix-blend-mode: normal;
    }
    p {
      color: black;
      max-width: 90%;
      margin: 20px;
      align-self: flex-start;
    }
  }
}
@media screen and (max-width: 800px) {
  .staff-info-container {
    margin: 3vh;
    flex-direction: column;
    align-items: center;
    .staff-card {
      min-width: 100%;
    }
    .staff-info {
      margin-top: 20px;
      min-width: 100%;
    }
  }
}
