$gold: #e8b021;
$lightNavy: #66788d;
$sand: #dbcca5;
$darkNavy: #2e3c49;
$green: #4f5957;

.stream {
  width: 90%;

  &-video-player {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;

    iframe {
      position: absolute;
      border: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &-supporting-materials {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    &-from-cms {
      margin: 3vh;
      width: 60%;
      a {
        display: block;
      }
      .documents {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .stream {
    width: 90%;
    &-info {
      p {
        width: 100%;
      }
      &-title-link {
        h2 {
          align-self: center;
        }
        text-align: center;
        flex-direction: column;
      }
    }
    &-supporting-materials {
      flex-direction: column-reverse;
      &-from-cms {
        width: 100%;
      }
    }
  }
}
