.studies-container {
  display: flex;
  flex-flow: wrap row;

  justify-content: center;
  align-items: center;
}

.study-link {
  width: 30%;
  height: auto;
  color: black;
  :hover {
    text-decoration: none;
  }
}
.study-icon {
  text-align: center;
  margin: 2vh;
  border-radius: 10px;
}
