$gold: #e8b021;
$lightNavy: #66788d;
$sand: #dbcca5;
$darkNavy: #2e3c49;
$green: #4f5957;

.study-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 3vh 0 0 0;

  .back-link {
    align-self: flex-start;
    margin: 2vh;
    color: $gold;
    display: flex;
    align-items: center;
    svg {
      height: 1em;
      margin-right: 0.5em;
    }
  }
  .study-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 3vh 0 0;

    img {
      width: 100%;
    }
    &-title {
      text-align: center;
      font-weight: 700;
    }

    &-documents {
    }

    &-details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 10px;
      text-align: center;
      margin: 2vh;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &-lessons {
        h3 {
          font-size: 2.5em;
        }
        margin: 0;
      }

      p {
        font-size: 1em;
      }
    }
    .supporting-text {
      font-size: 0.9em;
      color: grey;
      margin: 0;
      padding: 0;
    }
    .teacher-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1em;
      text-align: center;
      &-photo {
        position: relative;
        overflow: hidden;
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
      img {
        width: 100%;
        height: auto;
        min-width: auto !important;
        min-height: auto !important;
        max-width: none !important;
      }
    }

    &-body-ministry-link {
      text-align: center;
      p {
        color: $darkNavy;
      }
    }
  }
  .lesson-list {
    width: 40%;
    text-align: center;
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    .study-info {
      width: 90%;
      align-items: center;
      margin: 0;

      &-title {
        text-align: center;
        font-weight: 700;
      }
    }
    .lesson-list {
      width: 100%;
      text-align: center;
    }
  }
}
