$gold: #e8b021;

.studies {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh;
    h1 {
      text-align: center;
    }
    p {
      width: 75%;
    }
  }

  &-array {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .study-link {
      will-change: transform;
      transition: 0.1s ease;
      text-decoration: none;
    }
    .study-link:hover {
      transform: scale(1.01);
      h3 {
        font-weight: 900;
        color: $gold;
      }
    }

    .study-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      text-align: center;

      color: black;
      h3 {
        white-space: nowrap;
      }
    }
  }

  .indicator-hidden {
    visibility: hidden;
    margin: 5px;
  }
  .indicator-active {
    content: "Active Series";
    color: $gold;
    border-bottom: 2px $gold solid;
    text-align: center;
    width: 75%;
    margin: 5px;
  }
}

@media screen and (max-width: 600px) {
  .studies {
    &-desc {
      margin: 0;
      p {
        width: 90%;
      }
    }
  }
  .study-icon {
    img {
      width: 95%;
    }
  }
}
