.studies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &-desc {
    margin: 5vh;
    width: 75%;
    h1 {
      text-align: center;
    }
  }

  .study-link {
    width: 30%;
    height: auto;
    color: black;
    :hover {
      text-decoration: none;
    }
  }
  .study-icon {
    text-align: center;
    margin: 2vh;
    border-radius: 10px;
  }
  @media screen and (max-width: 800px) {
    .study-link {
      width: 50%;
    }
  }
}
