.announcements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  h5 {
    color: gray;
  }
  h1,
  h5 {
    text-align: center;
  }
  &-video {
    width: 75%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    iframe {
      position: absolute;
      border: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &-text {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 65%;
  }
  &-service-times {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      margin: 10vh 0 -2vh 0;
    }
    &-info {
      display: grid;
      grid-template-columns: repeat(3, 500px);
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 5vh;
        h3 {
          text-align: center;
        }
      }
    }
  }

  &-faq {
    h2 {
      margin: 5vh 0 -2vh 0;
    }
  }
}
@media screen and (max-width: 600px) {
  .announcements {
    h2 {
      font-size: 1em;
    }
    &-video {
      width: 95%;
    }
    &-text {
      width: 95%;
    }
    &-service-times {
      &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &-faq {
      width: 95%;
    }
  }
}
