.youth-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h2,
  h3,
  h4 {
    font-family: "Work Sans";
    font-weight: bold;
  }

  .youth-header {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0 10vh 0;
    .ministry-logo {
      position: relative;
      width: 17%;
      height: auto;
      margin: 50px;
    }
  }
  .instablocks {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    span {
      width: 45%;
      margin: 5px;
      height: 300px;
      background: gray;
    }
  }

  .time-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3vh 0 3vh 0;
  }
  .description-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10vh;
    .half-box {
      width: 40%;
      margin: 5vh;
    }
    p {
      width: 50%;
      padding: 1vh;
    }
  }

  .faq {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      list-style-type: none;
      font-size: 0.9em;
    }
  }

  .youth-leaders {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
