.youth-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h1,
  h2,
  h3,
  h4 {
    font-family: "Work Sans";
    font-weight: bold;
    font-variant: small-caps;
  }

  .youth-header {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/youth-assets/brush_stroke.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    margin: 3vh 0 10vh 0;
    .ministry-logo {
      position: relative;
      width: 17%;
      height: auto;
      margin: 50px;
    }
  }
  .youth-description-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3vh 0 0 0;
    img {
      max-width: 40%;
      margin: 10px;
    }
    .words-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 50%;
      margin: 3vh;
    }
  }
  .bible-project-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3vh 0 3vh 0;
    img {
      max-width: 40%;
      margin: 10px;
    }

    .words-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 50%;
      margin: 3vh;
    }
  }
  .time-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
    margin: 3vh 0 3vh 0;
  }
  .social-media-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin: 3vh 0 0 0;

    .social-media-tag {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 1vh;
      img {
        height: 1.5em;
        margin: 3px;
      }
    }

    .instablocks {
      min-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      span {
        width: 30%;
        height: 300px;
        background: gray;
      }
    }
  }
}
