.youth {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h2,
  h3,
  h4 {
    font-family: "Open Sans";
    font-weight: bold;
  }

  &-header {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 0 5vh 0;
    &-logo {
      position: relative;
      width: 30%;
      height: auto;
      margin: 2vh;
    }
  }

  &-description {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 10vh 0;
    &-mission {
      width: 60%;
      padding: 1vh;
    }
  }

  &-sign-up {
    background-image: url(../images/youth_assets/orange_shape.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 10vh 0 10vh 0;
    padding: 3vh 0 3vh 0;

    img {
      width: 35%;
      border-radius: 25px;
    }
  }

  &-leaders {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 5vh 0;
  }
}
@media screen and (max-width: 800px) {
  .youth {
    &-header {
      margin: 5vh 0 0 0;
      &-logo {
        width: 50%;
      }
    }

    &-description {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        width: 90%;
      }
    }
    &-sign-up {
      background: none;

      flex-direction: column;

      div {
        width: 80%;
      }
      img {
        width: 100%;
        border-radius: 0px;
        margin: 0 0 2vh 0;
      }
    }
  }
}
